<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="QuanLyThuVienUTT" 
         connectionString="Data Source=LAPTOP-B80ILKK5;Initial Catalog=QuanLyThuVienUTT;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>