# ===============================
# JAVA
# ===============================
*.class
*.log

# ===============================
# IDE
# ===============================

# NetBeans
nbproject/private/
nbproject/Makefile-*.properties
nbproject/Package-*.properties
nbactions.xml
nb-configuration.xml
build/
dist/

# IntelliJ IDEA
.idea/
*.iml
out/

# ===============================
# OS TRASH
# ===============================
.DS_Store
Thumbs.db

# ===============================
# DATABASE CONFIG (LOCAL ONLY)
# ===============================

# Chặn file DBConnect thật
src/com/uttlibrary/util/DBConnect.java
